@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: rgb(var(--foreground-rgb));;
  font-weight: light;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-b-to-t {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .desktop-vertical-logo {
    transform: translate3d(-32%,-100%,0) rotate(-90deg);
  }
}

.description p {
  @apply mb-3 text-sm;
}

.page-title {
  font-size: clamp(4rem, 12vw, 10rem); 
}
.page-description h2 {
  @apply text-3xl mb-8 leading-normal;
}

.page-description p {
  @apply mb-6;
}
.page-description strong {
  @apply font-semibold;
}

.link-container:hover .link-item {
  opacity: 0.3;
}

.link-container .link-item:hover {
  opacity: 1;
}

a, p {
  @apply font-light;
}
.grid-item {
  @apply h-[49vh];
}
.grid-item:first-child,
.grid-item:nth-child(7n) {
  grid-column: 1 / span 6;
}

.grid-item:nth-child(2),
.grid-item:nth-child(8n){
  grid-column: 1 / span 3;
}
.grid-item:nth-child(3),
.grid-item:nth-child(9n) {
  grid-column: 4 / span 6;
}
.grid-item:nth-child(4),
.grid-item:nth-child(10n) {
  grid-column: 1 / span 2;
}
.grid-item:nth-child(5),
.grid-item:nth-child(11n) {
  grid-column: 3 / span 2;
}
.grid-item:nth-child(6),
.grid-item:nth-child(12n) {
  grid-column: 5 / span 2;
}

.video-preview-player video {
  object-fit: cover;
}