@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: rgb(var(--foreground-rgb));;
}

@layer utilities {
  .text-b-to-t {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .desktop-vertical-logo {
    transform: translate3d(-23%,-100%,0) rotate(-90deg);
  }
}