@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: rgb(var(--foreground-rgb));;
  font-weight: light;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-b-to-t {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .desktop-vertical-logo {
    transform: translate3d(-32%,-100%,0) rotate(-90deg);
  }
}

.description p {
  @apply mb-3 text-sm;
}

.page-title {
  /* font-size: clamp(4rem, 12vw, 10rem);  */
  @apply text-3xl mb-4 leading-normal uppercase;

}
.page-description h2 {
  @apply text-3xl mb-8 leading-normal;
}
.direct-contact {
  @apply mt-16;
}
.page-description p {
  @apply mb-10 text-lg;
}

.page-description strong {
  @apply font-semibold;
}

.link-container:hover .link-item {
  opacity: 0.3;
}

.link-container .link-item:hover {
  opacity: 1;
}

a, p {
  @apply font-light;
}
.grid-item {
  @apply h-[49vh];
}

.grid-item:nth-child(6n + 1) {
  grid-column: 1 / span 6;
}

.grid-item:nth-child(6n + 2){
  grid-column: 1 / span 3;
}
.grid-item:nth-child(6n + 3) {
  grid-column: 4 / span 6;
}

.grid-item:nth-child(6n + 4)  {
  grid-column: 1 / span 2;
}

.grid-item:nth-child(6n + 5) {
  grid-column: 3 / span 2;
}

.grid-item:nth-child(6n + 6) {
  grid-column: 5 / span 2;
}

.video-preview-player video {
  object-fit: cover;
}

.--flex-img {
  @apply flex items-center justify-center flex-col md:flex-row;
}